@tailwind base;
@tailwind components;
@tailwind utilities;

/* In your styles.css or any global CSS file */
.mx-auto.mt-4.h-2.w-\[100px\].rounded-full.bg-muted {
  background-color: #2f2f2f !important;
}

.cursor {
  display: inline-block;
  width: 1ch;
  animation: flicker 0.5s infinite;
  margin-bottom: 4px;
}

@keyframes flicker {
  0% {
    opacity: 0;
  }

  50% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

@layer base {
  :root {
    --background: 0, 0%, 95%;
      /* bg-white */
      --foreground: 222.2 47.4% 11.2%;
      /* slate-900 */
      --card: 0 0% 100%;
      /* bg-white */
        --card-foreground: 222.2 47.4% 11.2%;
        /* slate-900 */
        --popover: 0 0% 100%;
      /* bg-white */
        --popover-foreground: 222.2 47.4% 11.2%;
        /* slate-900 */
        --primary: 220 90% 56%;
        /* Brand color */
        --primary-foreground: 60 9.1% 97.8%;
        /* Light color for text */
        --secondary: 0, 0%, 90%;
        /* gray-100 */
        --secondary-foreground: 222.2 47.4% 11.2%;
        /* slate-900 */
        --muted: 60 4.8% 95.9%;
        /* gray-100 */
        --muted-foreground: 25 5.3% 44.7%;
        /* slate-400 */
        --accent: 60 4.8% 95.9%;
        /* gray-100 */
        --accent-foreground: 222.2 47.4% 11.2%;
        /* slate-900 */
        --destructive: 0 84.2% 60.2%;
      /* red-500 */
        --destructive-foreground: 60 9.1% 97.8%;
        /* Light color for text */
        --border: 216 12% 84%;
        /* border-gray-300 */
        --input: 216 12% 84%;
        /* border-gray-300 */
        --ring: 220 90% 56%;
        /* Brand color */
        --radius: 0.5rem;
      /* Border radius */
  }

  .dark {
    --background: 0, 0%, 7%;
      /* dark:bg-neutral-950 */
      --foreground: 210 20% 98%;
      /* slate-50 */
        --card: 0, 0%, 9%;
        /* dark:bg-neutral-950 */
        --card-foreground: 210 20% 98%;
      /* slate-50 */
        --popover: 210 13% 5.1%;
        /* dark:bg-neutral-950 */
        --popover-foreground: 210 20% 98%;
      /* slate-50 */
        --primary: 220 90% 46%;
        /* Darker brand color */
        --primary-foreground: 210 20% 98%;
        /* slate-50 */
        --secondary: 210 13% 15.1%;
        /* slate-800 */
        --secondary-foreground: 210 20% 98%;
      /* slate-50 */
        --muted: 210 13% 15.1%;
        /* slate-800 */
        --muted-foreground: 0, 0%, 71%;
        /* slate-400 */
        --accent: 210 13% 15.1%;
        /* slate-800 */
        --accent-foreground: 210 20% 98%;
      /* slate-50 */
        --destructive: 0 72.2% 50.6%;
        /* red-600 */
        --destructive-foreground: 210 20% 98%;
      /* slate-50 */
        --border: 0, 0%, 15%;
        /* dark:border-neutral-800 */
        --input: 210 13% 21%;
        /* dark:border-neutral-800 */
        --ring: 220 90% 46%;
        /* Darker brand color */
      }
      }
      
      .theme-default {
        --primary: 220 90% 46%;
        --primary-foreground: 210 20% 98%;
      }
      
      .theme-green {
        --primary: 142.1 70.6% 45.3%;
        --primary-foreground: 144.9 80.4% 10%;
      }
      
      .theme-blue {
        --primary: 197 100% 47%;
        --primary-foreground: 0, 0%, 7%;
      }
      
      .theme-red {
        --primary: 0 78.8% 54%;
        --primary-foreground: 0 0% 100%;
      }
input,
textarea,
select {
  @apply bg-white border border-gray-300 dark:border-neutral-800 dark:bg-neutral-900 focus-within:border-primary focus:border-primary dark:focus:border-primary dark:focus-within:border-primary;
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
